@font-face {
    font-family: 'digital-clock-font';
    src: url('./digital-7.regular.ttf');
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'digital-clock-font';
}

#calc-body {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    background-color: rgb(40, 41, 40);
    align-items: center;
    gap: 16px;
}

#calc-display {
    background-color: rgb(207, 219, 219);
    width: 35vw;
    height: 10vh;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

#num-display {
    margin-left: auto;
    margin-right: 16px;
}

#button-container {
    display: flex;
    width: 35vw;
    height: 60vh;
    justify-content: space-between;
    margin-bottom: 24px;
}

.left-side {
    width: 75%;
    flex-direction: column;
    height: 100%
}

.row {
    display: flex;
    flex: 1;
    height: 20%;
}

#op-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    flex: 1;
    color: white;
    border-radius: 8px;
    border-color: rgb(40, 41, 40);
    font-size: 24px;
    font-family: 'Lucida Console', Verdana, sans-serif;
}

#misc button{
    background-color: rgb(129, 129, 129);
}

.row button {
    background-color: rgb(45, 46, 46);
}

#op-container button {
    background-color:rgb(241, 129, 24)
}